
    <%- include("partials/head") %>
    <%- include("partials/nav") %>

    <div class="container ">

        <div class="w-50 mx-auto d-flex my-4 align-items-center">
            <h2>write your own blog today.</h2>
            <a href="/blog/add-new-blog" class="ms-3 btn btn-dark">Add new blog</a>
        </div>
        
        
    <div class="container">
        
        <% for(let i of blog){ %>
            <div class="card my-2">
                <div class="card-body"   >
                    <h3><%= i.title %></h3>
                    <a href="blog/delete/<%= i._id%>">delete</a>
                    <p><%= i.description %></p>
                    <span class="badge bg-dark "><%= i.category %></span>
                </div>
            </div>
        <% } %>
            
        </div>
    </div>

    <%- include("partials/body") %>
