<%- include("partials/head")  %>
<%- include("partials/nav")%>

<div>
    <h1>welcome <%= user.name%></h1>
    <p><%= user.email%></p>
    <a href="auth/logout">logout</a>
</div>

<div class="container">  
    <% for(let i of blogs){ %>
        <div class="card my-2">
            <div class="card-body"   >
                <div class="d-flex justify-content-between">
                    <h3><%= i.title %></h3>
                    <a class="btn bg-danger-subtle text-danger" href="blog/delete/<%= i._id%>">delete</a>
                </div>
                <p><%= i.description %></p>

                <span><%= i.createdAt %></span>
            </div>
        </div>
    <% } %>
</div>

<%- include("partials/body") %>